<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Funding</title>
</head>
<body>
<div th:replace="common::common_header"></div>
<div class="top-wrapper">
    <div class="container">
        <h1>HOME</h1>
        <a th:href="@{login_url}">ログインページ</a>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>ステータス</th>
                <th>申請日</th>
                <th>申請者</th>
                <th>トレーニング名</th>
                <th>目的</th>
                <th>目標金額</th>
                <th>募集期限</th>
                <th>報告予定内容</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>募集中</td>
                <td>2018/6/5</td>
                <td>名無しさん</td>
                <td>Oracle Master Gold取得</td>
                <td>業務活用の知識習得の為、うんぬん</td>
                <td>150,000</td>
                <td>2018/8/1</td>
                <td>認定書のPDFを公開</td>
            </tr>
        </tbody>
    </table>
    <h2>T_TF_USERの中身をpostgresから取得</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ユーザーID</th>
                <th>性（日本語）</th>
                <th>名（日本語）</th>
                <th>性（英語）</th>
                <th>名（英語）</th>
                <th>メールアドレス</th>
                <th>パスワード</th>
                <th>アカウント分類ID</th>
                <th>社員番号</th>
                <th>削除フラグ</th>
                <th>登録年月日</th>
                <th>登録ユーザーID</th>
                <th>更新年月日</th>
                <th>更新ユーザーID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="tfUserList" th:each="tfUser: ${tfUserList}" th:object="${tfUser}">
                <td th:text="*{userId}"></td>
                <td th:text="*{usrNmSeiJ}"></td>
                <td th:text="*{usrNmMeiJ}"></td>
                <td th:text="*{usrNmSeiE}"></td>
                <td th:text="*{usrNmMeiE}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{pwd}"></td>
                <td th:text="*{accountClassId}"></td>
                <td th:text="*{empNo}"></td>
                <td th:text="*{delFlg}"></td>
                <td th:text="*{regYmd}"></td>
                <td th:text="*{regUsrId}"></td>
                <td th:text="*{updYmd}"></td>
                <td th:text="*{updUsrId}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>